_1_temp/

# Игнорировать конкретные папки на русском языке
Бескрылов Дмитрий -/
Куницын Дм -/
Временные файлы/

# СИСТЕМНЫЕ ФАЙЛЫ (Windows и macOS)

# МОИ ЛОКАЛЬНЫЕ РУССКИЕ ПАПКИ (Не для GitHub)

# ЛОГ-ФАЙЛЫ И КЭШ
*.log
/cache/